/**
 * Menu in header styles
 *
 * @author Viacheslav Lotsmanov
 */

.call-menu
	display block
	text-decoration none
	size(($icons.show-menu.width), ($icons.show-menu.height))
	z-index 50
	opacity 0
	margin-top 0
	absolute right -100px
	transition opacity $animation-speed $animation-curve,
		right $animation-speed $animation-curve,
		margin-top $animation-speed $animation-curve

	&:before, &:after
		pseudo-block()
		absolute top 0 left 0
		transition opacity $animation-speed $animation-curve,
			transform $animation-speed $animation-curve
		transform rotate(0deg)

	&:before
		icon($icons.show-menu)
		opacity 1

	&:after
		icon($icons.show-menu-active)
		opacity 0

	body.loaded &
		opacity 1

.fixed-header > .bg-helper
	display block
	background $header-bg-color
	size 100% 0
	fixed top 0 right 0
	z-index 30
	transition height $animation-speed $animation-curve

.menu
	$menu-text-color = #9daeb8
	$menu-active-text-color = #f5ce08
	$menu-active-bg-color = #122939
	$menu-margin = 23px

	display block
	background $header-bg-color
	size 100% 0
	z-index 45
	absolute top 0 right 0
	overflow hidden
	min-width $min-width

	.logo.no-text .logo-text
		opacity 0

	nav
		size auto 100%
		position absolute
		white-space nowrap
		z-index 2

		& > .wrap
			size auto 100%

		// that created by script
		& > .centering-helper
			display none

		& > .wrap > a, & > .wrap > span
			text-decoration none
			display inline-block
			size auto, 100%
			custom-font('Proxima Nova Rg', normal)
			box-sizing border-box
			text-transform uppercase
			color $menu-text-color
			margin-left $menu-margin
			transition color $animation-speed $animation-curve,
				background-color $animation-speed $animation-curve,
				padding-left $animation-speed $animation-curve,
				padding-right $animation-speed $animation-curve
			background transparent

			&:first-child
				margin-left 0

		& > .wrap > a.active, & > .wrap > span
			background $menu-active-bg-color
			color $menu-active-text-color
			custom-font('Proxima Nova Rg', bold)
			padding-x $menu-margin

		& > .wrap > a:hover, & > .wrap > a.active:hover
			color white

		body.small-size &
			size 220px 100%
			absolute top 0 right 0
			overflow auto
			box-sizing border-box

			& > .wrap
			& > .centering-helper
				display inline-block
				vertical-align middle

			& > .wrap
				size 100% auto

			& > .centering-helper
				size 0 100%

			& > .wrap > a, & > .wrap > span
				display block
				size 100% 58px
				padding-top 21px
				padding-right 0
				margin-left 0
				padding-left 26px

			& > .wrap > a.active, & > .wrap > span
				padding-right 0

&.menu-active .call-menu
	&:before, &:after
		transform rotate(90deg)
	&:before
		opacity 0
	&:after
		opacity 1

body.middle-size &,
body.big-size &
	&.scroll-menu-active .call-menu
		margin-top -100px !important

		&:before, &:after
			opacity 0

// for get height of header by scripts (offset for scrolling to anchor)
.height-helper
	display block
	size 0
	fixed top 0 right 0
	z-index -1
