/**
 * Header styles
 *
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://github.com/web-izmerenie/wi-site/blob/master/LICENSE-AGPLv3|License}
 */

header
	$logo-size-2 = 41px
	$logo-size-3 = 55px
	$speed = ($animation-speed * 4)

	$logo-left = 29px
	$logo-top-2 = (($header-height-2 - $logo-size-2) / 2)
	$logo-top-3 = (($header-height-3 - $logo-size-3) / 2)

	size 100%
	z-index 1
	absolute(0, auto, auto, 0)
	transition height $animation-speed $animation-curve
	min-width $min-width

	.fixed-header
		fixed(0, auto, auto, 0)
		size 100%, 0
		min-width $min-width
		z-index 2

	body.loaded &
		size 100% $header-height-3

		@media (max-width: ($responsive-2))
			height $header-height-2

	// logo in card-1 and in menu
	.logo
		display inline-block
		text-decoration none
		z-index 1
		white-space nowrap
		absolute($logo-top-3, auto, auto, $logo-left)
		transition transform $speed $animation-curve,
			left $speed $animation-curve,
			top $speed $animation-curve

		@media (max-width: ($responsive-2))
			top $logo-top-2

		img.logo-image, .logo-text
			display inline-block
			vertical-align middle

		img.logo-image
			size $logo-size-3
			transform rotate(0deg)

			@media (max-width: ($responsive-2))
				size $logo-size-2

		.logo-text
			custom-font('SansRoundedLightC', normal, 22px, 24px)
			color white
			text-transform uppercase
			padding-top 2px
			opacity 0
			width 0
			margin-left 0
			overflow hidden
			transition width $animation-speed $animation-curve,
				opacity $animation-speed $animation-curve,
				margin-left $animation-speed $animation-curve

			@media (max-width: ($responsive-2))
				font-metrics(16px, 18px)

		body.loaded &
			.logo-text
				width auto
				opacity 1
				margin-left 19px

				@media (max-width: ($responsive-2))
					margin-left 19px - 5px

	// specific styles for logo on card-1
	& > .logo
		absolute(50%, auto, auto, 50%)
		transform translate(-50%, -50%)

		&.logo-move
			transform translate(0, 0)
			left $logo-left
			top $logo-top-3

			@media (max-width: ($responsive-2))
				top $logo-top-2

	@import 'header-menu'
