/**
 * Header styles
 *
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://github.com/web-izmerenie/wi-site/blob/master/LICENSE-AGPLv3|License}
 */

header
	$height = 112px
	$logo-size = 55px
	$logo-left = 29px
	$logo-top = (($height - $logo-size) / 2)
	$call-menu-top = 28px
	$call-menu-right = 15px

	size 100%
	z-index 1
	fixed(0, auto, auto, 0)

	body.loaded &
		size 100% $height

	.logo
		display inline-block
		text-decoration none
		z-index 1
		white-space nowrap
		absolute(50%, auto, auto, 50%)
		transform translate(-50%, -50%)

		img.logo-image, .logo-text
			display inline-block
			vertical-align middle

		img.logo-image
			size $logo-size
			transform rotate(0deg)

		.logo-text
			custom-font('SansRoundedLightC', normal, 22px, 24px)
			color white
			text-transform uppercase
			padding-top 2px
			opacity 0
			width 0
			overflow hidden
			transition:
				width $animation-speed $animation-curve
				opacity $animation-speed $animation-curve

		body.loaded &
			absolute($logo-top, auto, auto, $logo-left)

			img.logo-image
				transform translateX(0) translateY(0)

			.logo-text
				width auto
				opacity 1
				margin-left 19px

	.call-menu
		display block
		text-decoration none
		absolute($call-menu-top, 0)
		size(($icon-show-menu.width), ($icon-show-menu.height))
		z-index 2
		opacity 0
		transition:
			opacity $animation-speed $animation-curve
			right $animation-speed $animation-curve

		&:before, &:after
			pseudo-block()
			absolute(0, auto, auto, 0)
			transition:
				opacity $animation-speed $animation-curve,
				transform ($animation-speed*2) $animation-curve
			transform rotate(0deg)

		&:before
			icon($icon-show-menu)
			opacity 1

		&:after
			icon($icon-show-menu-active)
			opacity 0

		body.loaded &
			right $call-menu-right
			opacity 1

	.menu
		$menu-text-color = #9daeb8
		$menu-active-text-color = #f5ce08
		$menu-active-bg-color = #122939
		$menu-text-fs = 18px
		$menu-margin = 23px

		display block
		background $header-bg-color
		size 0% 100%
		z-index 0
		absolute(0, 0)
		overflow hidden
		transition width ($animation-speed*4) $animation-curve

		nav
			size auto 100%
			absolute(0, 113px)
			white-space nowrap

			& > a, & > span
				text-decoration none
				display inline-block
				size auto, 100%
				custom-font(
					'Proxima Nova Rg', normal,
					$menu-text-fs, ($menu-text-fs + 2px))
				box-sizing border-box
				text-transform uppercase
				color $menu-text-color
				margin-left $menu-margin
				padding-top 61px - 16px

				&:first-child
					margin-left 0

			& > a.active, & > span
				background $menu-active-bg-color
				color $menu-active-text-color
				custom-font(
					'Proxima Nova Rg', bold,
					$menu-text-fs, ($menu-text-fs + 2px))
				padding-x $menu-margin

	&.menu-active
		.call-menu
			&:before, &:after
				transform rotate(90deg)
			&:before
				opacity 0
			&:after
				opacity 1

		.opened-menu
			width 100%
