/**
 * Icons variables and mixins
 *
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://github.com/web-izmerenie/wi-site/blob/master/LICENSE-AGPLv3|License}
 */

$icon-arrow = {
	src: vector-icon-src('down-arrow.svg')
	width: 32px
	height: 20px
}

$icon-show-menu = {
	src: icon-src('show-menu.png')
	width: 55px
	height: 55px
}

$icon-show-menu = {
	src: icon-src('show-menu-active.png')
	width: $icon-show-menu.width
	height: $icon-show-menu.height
}

vector-icon($icon)
	$src = $icon.src
	size(($icon.width), ($icon.height))
	background url($src) 0 0 no-repeat
