/**
 * Icons variables and mixins
 *
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

$icons = {
	arrow: {
		src: vector-icon-src('down-arrow.svg')
		width: 32px
		height: 20px
	}
	plus: {
		src: vector-icon-src('plus.svg')
		width: 45px
		height: 45px
	}

	show-menu: {
		src: vector-icon-src('show-menu.svg')
		width: 55px
		height: 55px
	}
	show-menu-active: {
		src: vector-icon-src('show-menu-active.svg')
		width: 55px
		height: 55px
	}

	// only for preloading
	general-page-card-n1-bg: {
		src: img-path($general-page-card-n1-bg)
		width: 226px
		height: 227px
	}

	phone: {
		src: vector-icon-src('phone.svg')
		width: 27px
		height: 27px
	}
	mail: {
		src: vector-icon-src('mail.svg')
		width: 29px
		height: 22px
	}
	small-map-marker: {
		src: vector-icon-src('small-map-marker.svg')
		width: 25px
		height: 32px
	}
}

icon($icon)
	$src = $icon.src
	size(($icon.width), ($icon.height))
	background url($src) 0 0 no-repeat
