/**
 * Main styles module
 *
 * @author Viacheslav Lotsmanov
 */

@require 'nib'

@require 'variables'
@require 'mixins'
@require 'fonts'
@require 'icons'
@require 'preload'

global-reset()
reset-html5()

html, body
	reset-box-model()
	font-metrics 0 0
	size 100%

body
	background white
	color black
	min-width $min-width

@require 'header'

@require 'pages/general'
