/**
 * Main styles module
 *
 * @author Viacheslav Lotsmanov
 */

@require 'nib'

@require 'variables'
@require 'mixins'
@require 'fonts'
@require 'icons'
@require 'preload'

global-reset()
reset-html5()

html, body
	reset-box-model()
	font-metrics 0 0
	height 100%

body
	background white
	color black
	min-width $min-width
	width 100%

	>svg
		display none

.top-part
	position relative
	min-height 100%
	height 100%
	width 100%
	min-width $min-width

	.prop
		display block
		overflow hidden
		size 100% 0
		position relative
		clear both

@require 'header'

@require 'pages/general'

footer
	@import 'footer'
