/**
 * Global variables
 *
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

$revision = 1

// paths

	$rev-qs = '?v=' + $revision

	$root-path = '/'
	$images-path = pathjoin($root-path, 'images')
	$fonts-path = pathjoin($root-path, 'fonts')
	$icons-path = pathjoin($images-path, 'icons')
	$vector-icons-path = pathjoin($images-path, 'vector-icons')

	$general-page-card-n1-bg = 'card-n1/bg-pattern.svg'

// sizes

	$min-width = 460px
	$min-height = 620px

	// responsive

		$responsive-1 = 840px
		$responsive-2 = 1000px
		$responsive-3 = 1920px

// colors

	$dark-bg-color-1 = #173347
	$dark-content-color-1 = $dark-bg-color-1

	$dark-bg-color-2 = #192f40
	$dark-content-color-2 = #475a66
	$dark-content-color-2-2 = #647f90
	$dark-content-color-2-3 = #4c6374

	$light-bg-color-1 = #ffd60a // yellow (or orange)
	$light-bg-color-2 = #edf1f2 // light-light gray (little green)
	$light-content-color-1 = #2c2c2c // dark gray
	$light-content-color-2 = #0087dd // sky blue (links)
	$light-content-color-2-2 = #5fb3e9 // sky blue (links underline)
	$light-content-color-2-3 = #77beec // sky blue (borders)
	$light-content-color-3 = #8c959b // for text on $light-bg-color-2
	$light-content-color-4 = $dark-bg-color-2 // very dark blue

	$header-bg-color = $dark-bg-color-1
	$footer-bg-color = $dark-bg-color-2

	$round-button-color = #0f476e
	$round-button-hover-color = #185b8a

// animations

	$animation-speed = 0.2s
	$animation-curve = ease-in
