/**
 * Global variables
 *
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://github.com/web-izmerenie/wi-site/blob/master/LICENSE-AGPLv3|License}
 */

$revision = 1

// paths {{{1

$rev-qs = '?v=' + $revision

$root-path = '/'
$images-path = pathjoin($root-path, 'images')
$fonts-path = pathjoin($root-path, 'fonts')
$icons-path = pathjoin($images-path, 'icons')
$vector-icons-path = pathjoin($images-path, 'vector-icons')

// paths }}}1

// sizes {{{1

$min-width = 760px
$min-height = 620px

// sizes }}}1

// colors {{{1

$header-bg-color = #173348

// colors }}}1

// animations {{{1

$animation-speed = 0.2s
$animation-curve = ease-in

// animations }}}1
