/**
 * Global variables
 *
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://github.com/web-izmerenie/wi-site/blob/master/LICENSE-AGPLv3|License}
 */

$revision = 1

// paths {{{1

$rev-qs = '?v=' + $revision

$root-path = '/'
$images-path = pathjoin($root-path, 'images')
$fonts-path = pathjoin($root-path, 'fonts')
$icons-path = pathjoin($images-path, 'icons')
$vector-icons-path = pathjoin($images-path, 'vector-icons')

$general-page-card-1-bg = 'card-1/bg-texture.png'

// paths }}}1

// sizes {{{1

$min-width = 760px
$min-height = 620px

$header-height-1 = 0px
$header-height-2 = 96px
$header-height-3 = 112px

// responsive

$responsive-1 = 840px
$responsive-2 = 1000px
$responsive-3 = 1920px

// sizes }}}1

// colors {{{1

$dark-bg-color-1 = #173347
$dark-content-color-1 = $dark-bg-color-1

$header-bg-color = $dark-bg-color-1

$round-button-color = #0f476e
$round-button-hover-color = #185b8a

// colors }}}1

// animations {{{1

$animation-speed = 0.2s
$animation-curve = ease-in

// animations }}}1
