/**
 * ".col-right" block styles of blog page
 *
 * @author Viacheslav Lotsmanov
 */

&
	float right
	padding-bottom 90px

	@media (max-width: ($sizes.small))
		padding-top 17px
		padding-bottom 8px
		text-align left

@import 'tag-mixin'

.tags
	h3
		just-set-font('Proxima Nova Rg', bold)
		color black
		padding-bottom 8px

		@media (max-width: ($sizes.small))
			display inline-block
			padding-top 0 !important
			padding-bottom 0 !important
			vertical-align top
			relative top 12px
			padding-right 21px

	ul
		reset-box-model()
		display block
		margin-left -2px

		@media (max-width: ($sizes.small))
			display inline
			relative left -2px
			margin-left 0
			vertical-align top

		>li
			blog-tag-item()

.fb-widget
	size 100% 600px
	border 2px solid #e6eaeb
	box-sizing border-box
	padding 15px
	margin-top 55px

	iframe
		size 100% 600px

	@media (max-width: ($sizes.small))
		display none
