/**
 * list specific styles of blog
 *
 * @author Viacheslav Lotsmanov
 */

@import 'tag-mixin'

.content-zone .col.col-left ul.posts >li
	img
		margin-bottom 17px
	time + h3
		margin-top 9px
	.text
		margin-top 21px

	&:nth-child(1)
		h3 a
			border-bottom-width 2px

			@media (max-width: ($sizes.small))
				font-size 42px !important
				line-height 44px !important

		img
			margin-bottom 20px
		time + h3
			margin-top 13px
		.text
			margin-top 17px

		.tags
			display block
			padding-top 11px

			h4
				display inline
				vertical-align top
				custom-font('Proxima Nova Rg', bold, 14px, 16px)
				color black
				relative top 17px
				padding-right 12px

			ul
				display inline
				vertical-align top
				relative left -2px
				margin-left 0
				vertical-align top

				>li
					blog-tag-item()

	&:nth-child(1)
	&:nth-child(2)
		p+p
			display block

	&:nth-child(2)
		@media (max-width: ($sizes.middle))
			p+p
				display none
