[submodule "web-front-end-gulp-template"]
	path = web-front-end-gulp-template
	url = https://github.com/web-izmerenie/web-front-end-gulp-template
[submodule "js-useful-umd-modules"]
	path = js-useful-umd-modules
	url = https://github.com/web-izmerenie/js-useful-umd-modules
