/**
 * General page cards styles
 *
 * @author Viacheslav Lotsmanov
 */

.general-cards
	size 100%
	min-height $min-height
	z-index 0
	position relative

	.card-n1
		$bg-from-color = #315d9a
		$bg-to-color = #2b75ba
		$next-button-color = #10476e
		$speed = ($animation-speed * 4)

		size 100%
		min-height $min-height
		background linear-gradient(top, $bg-from-color, $bg-to-color)
		z-index 0
		position relative
		text-align center
		overflow hidden

		.bg
			size 200%
			absolute top -50% left -50%
			z-index 0
			bg($general-page-card-n1-bg, center center repeat)
			background-attachment fixed
			transform scale(0.7)
			opacity 0

		.content
			display block
			z-index 1
			color white
			text-align center
			relative top 50%
			transform translateY(-50%)

			h1
				general-header-n1()
				text-align center
				margin-bottom -99px

			h2
				general-header-n2()
				text-align center
				margin-bottom -126px

			h1, h2, .next
				opacity 0
				transition opacity ($animation-speed*2) $animation-curve,
					margin-bottom ($animation-speed*2) $animation-curve

			.next
				display inline-block
				position relative
				background $next-button-color
				transition background-color $animation-speed $animation-curve

				&:hover
					background $round-button-hover-color

				> span
					pseudo-block()
					absolute top 50% left 50%
					margin-top 3px
					transform scale(1)

					&:before
						pseudo-block()
						icon($icons.arrow)
						absolute top 0 left 0
						transform translate(-50%, -50%)

				/*
				@media (max-width: ($responsive-2))
					$size = 69px
					size $size
					border-radius ($size / 2)
					margin-top 42px

					> span
						$left = (($size - $icons.arrow.width) / 2)
						$top = (($size - $icons.arrow.height) / 2)
						$top += 2px

						absolute top ($top) left ($left)
						transform scale(0.69)
				*/

			body.loaded &
				h1, h2, .next
					margin-bottom 0
					opacity 1
