/**
 * General page "contacts" styles
 *
 * @author Viacheslav Lotsmanov
 */

&
	size 100% auto
	z-index 0
	position relative
	min-width $min-width
	overflow hidden
	background white

.head
	size 100% auto
	position relative
	overflow hidden
	background $dark-bg-color-1

	h2
		z-index 10
		color white
		absolute left 50%
		transform translateX(-50%)

	.map
		size 100%
		z-index 5
		absolute left 0 top 0
		overflow hidden

		.marker
			z-index -999
			display block
			absolute left -400px top -400px
