/**
 * General page portfolio styles
 *
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://github.com/web-izmerenie/wi-site/blob/master/LICENSE-AGPLv3|License}
 */

.portfolio
	width 100%
	box-sizing border-box
	overflow: hidden
	relative()

	.title-block, .more-block
		background white
		color $dark-content-color-1
		text-align center
		padding-x 50px

	.title-block
		padding-bottom (110px - 7px)

		h2
			custom-font('Proxima Nova Rg', bold, 62px, 64px)
			text-transform uppercase
			padding-top (158px - 52px)

		h3
			custom-font('Proxima Nova Rg', normal, 22px, 24px)
			padding-top (60px - 31px)

	& > ul
		display block
		background $dark-bg-color-1

		& > li
			display block
			height 330px
			background $round-button-color
			overflow hidden
			relative()
			transform matrix3d(1, 0, 0, 0, 0, 0.2, 0, 0.001, 0, 0, 10, 0, 0, 27.2, 0, 1)
			opacity 0
			transition transform ($animation-speed*3) $animation-curve,
				opacity ($animation-speed*4) $animation-curve

			&.visible
				transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
				opacity 1

			&:nth-child(even)
				background $round-button-hover-color

			img.bg
				display block
				min-height 330px
				min-width 100%
				absolute(50%, 50%)
				transform translate(50%, -50%)
				z-index 0

			a
				display block
				size 100%
				z-index 10
				background transparent
				text-decoration none
				absolute(0, 0)

			.text
				display block
				padding-x 50px
				box-sizing border-box
				relative(50%)
				transform translateY(-50%)
				z-index 5
				color white
				text-align center
				opacity 0
				transition opacity $animation-speed $animation-curve

				&:before
					pseudo-block()
					size 100% 1000px
					absolute(-500px, 0)
					background $dark-bg-color-1
					opacity 0.7
					z-index -1

				h3
					custom-font('Proxima Nova Rg', bold, 52px, 54px)
					text-transform uppercase

				h4
					custom-font('Proxima Nova Rg', normal, 22px, 24px)

				h3 + h4
					padding-top (49px - 30px)

			&:hover .text
				opacity 1

	.more-block
		& > a
			$size = 108px

			display inline-block
			white-space nowrap
			custom-font('Proxima Nova Rg', normal, 24px, 26px)
			color white
			relative()
			text-decoration none
			padding-top ($size + (38px - 20px))
			transition color $animation-speed $animation-curve
			margin-top 110px
			margin-bottom (110px - 46px)

			&:before
				pseudo-block()
				size $size
				border-radius ($size / 2)
				background $round-button-color
				transition background-color $animation-speed $animation-curve
				absolute(0, 50%)
				transform translateX(50%)

			&:after
				pseudo-block()
				icon($icons.plus)
				absolute(31px, 50%)
				transform translateX(50%)

			&:hover:before
				background $round-button-hover-color

			&:hover
				color $dark-content-color-1
