/**
 * General page "team" styles
 *
 * @author Viacheslav Lotsmanov
 */

.team
	$team-bg = #1573b5

	size 100%
	min-height $min-height
	z-index 0
	position relative
	background $team-bg

	.title-block
		size 100% auto
		text-align center
		padding-top 133px

		h1
			general-header-n1()
			text-transform uppercase
			color white

		h2
			general-header-n2()
			color #cae2e9

	ul.people
		display block
		size 100% auto
		absolute bottom 0
		list-style none
		overflow auto
		white-space nowrap

		>li
			$bq-s = 239px

			display inline-block
			vertical-align bottom
			size auto
			position relative
			z-index 10
			padding-top ($bq-s + 50px)

			blockquote
				$bg = #ffd60a

				display block
				position absolute
				absolute bottom 100% left 50%
				transform translateY(100%)
				white-space normal
				background $bg
				size $bq-s
				border-radius ($bq-s / 2)
				opacity 0
				transition opacity $animation-speed $animation-curve
				color black
				margin-bottom -35px

				.content-wrap
					display block
					relative top 50%
					transform translateY(-50%)

				h3
					custom-font('Proxima Nova Rg', bold, 21px, 23px)
					text-transform uppercase

				p
					custom-font('Proxima Nova Rg', normal, 19px, 21px)

				h3 + p
					margin-top 10px

				&:before
					pseudo-block()
					size 54px 36px
					bg('baloon-corner.svg', center center no-repeat)
					absolute left 26px bottom -5px

			&:nth-child(3) blockquote
				bottom 99%

			&:nth-child(4) blockquote
				left 40%
				bottom 98%

			&:nth-child(5) blockquote
				bottom 102%

			&:nth-child(6) blockquote
				left -80%
				bottom 102%

				&:before
					transform scale(-1, 1)
					absolute left 160px

			&:hover blockquote
				opacity 1

			img
				display inline-block
				vertical-align bottom

			&:nth-child(2)
				margin-left 39px
			&:nth-child(3)
				margin-left 68px
			&:nth-child(4)
				margin-left 62px
			&:nth-child(5)
				margin-left 12px
			&:nth-child(6)
				margin-left 44px
