/**
 * General page "team" styles
 *
 * @author Viacheslav Lotsmanov
 */

.team
	size 100%
	min-height $min-height
	z-index 0
	relative()
	background #1573b5

	.title-block
		size 100% auto
		text-align center
		padding-top (192px - 59px)

		h1
			general-header1()
			text-transform uppercase

		h2
			general-header2()

		h1, h2
			color white
