/**
 * General page "contacts" styles
 *
 * @author Viacheslav Lotsmanov
 */

&
	size 100% auto
	z-index 0
	position relative
	min-width $min-width
	overflow hidden
	background white

.head
	size 100% auto
	position relative
	overflow hidden
	background $dark-bg-color-1

	h2
		z-index 10
		color white
		absolute left 50%
		transform translateX(-50%)

	.map
		size 100%
		z-index 5
		absolute left 0 top 0
		overflow hidden

		.marker
			z-index -999
			display block
			absolute left -400px top -400px

.second
	$mw = 1675px

	max-width $mw
	margin 0 auto

	&:after
		pseudo-block()
		clear both

	.col
		display block
		width 50%
		just-set-font('Proxima Nova Lt')
		color black
		box-sizing border-box

.second .col:first-child
	float left

	.phone, .email, address
		position relative

		&:before
			pseudo-block()
			absolute left 0 top 0

	.phone
		&:before
			icon($icons.phone)
			top 50%
			transform translateY(-50%)

		a, a:hover
			color black
			border 0
			text-decoration none

	.email
		margin-top 29px

		&:before
			icon($icons.mail)
			top 50%
			transform translateY(-50%)

		a
			color $light-content-color-2
			border-bottom 1px solid $light-content-color-2-2
			text-decoration none
			transition color $animation-speed $animation-curve,
				border-bottom-color $animation-speed $animation-curve
			display inline

			&:hover
				color alpha($light-content-color-2, 50%)
				border-bottom-color alpha($light-content-color-2-2, 50%)

	address
		margin-top 40px

		&:before
			icon($icons.small-map-marker)
			top -5px

		span
			display block

@require '../../mixins/orange-button'

.second .col:last-child
	float right

	form
		text-align right

		$error-color = red

		label
			display block
			position relative

			&.text, &.textarea
				display block
				background $light-bg-color-2
				border-box box-sizing

				&:after
					pseudo-block()
					size 100%
					box-sizing border-box
					transition border-width $animation-speed $animation-curve,
						border-color $animation-speed $animation-curve
					border 0 solid alpha(white, 0%)
					absolute left 0 top 0

				span, input, textarea
					reset-box-model()
					padding-x 13px
					box-sizing border-box

				span
					display block
					color $light-content-color-3
					text-align left
					absolute left 0 top 0
					cursor text
					z-index 1
					size 100%
					transition color $animation-speed $animation-curve

					&:before
						pseudo-block()
						absolute left 0 top 0
						size 100%
						background white
						box-sizing border-box
						z-index -1
						border 2px solid $light-content-color-2-3
						opacity 0
						transition opacity $animation-speed $animation-curve,
							border-color $animation-speed $animation-curve

				input, textarea
					display block
					just-set-font('Proxima Nova Lt')
					z-index 5

					background alpha(white, 0%)
					color black

				input:focus + span, textarea:focus + span
				input.has-value + span, textarea.has-value + span
					color alpha(white, 0%)

					&:before
						opacity 1

				.error-message
					absolute left 0 top 100%
					custom-font('Proxima Nova Lt', normal, 16px, 22px)
					text-align left
					padding-x 5px
					size 100% 22px
					box-sizing border-box
					background alpha(white, 90%)
					color $error-color
					opacity 1
					transition opacity $animation-speed $animation-curve
					z-index 200

				&.error
					&:after
						border 2px solid $error-color
					span:before
						border-color $error-color

			&.text
				span
					top 50%
					transform translateY(-50%)

				input
					absolute top 50% left 0
					transform translateY(-50%)
					width 100%

			&.textarea
				textarea
					size 100% auto
					resize vertical
					position relative

			&.submit
				display inline-block
				cursor pointer

				span
					orange-button()
					z-index 1
					position relative

				input
					absolute left 50% top 50%
					transform translate(-50%, -50%)
					z-index -1
					opacity 0

@media (max-width: 720px)
	.second .col:first-child
		padding-bottom 0 !important

	.second .col:first-child
	.second .col:last-child
		float none
		width 100%
		padding-left 38px !important
		padding-right 38px !important
