/**
 * Blog page styles
 *
 * @author Viacheslav Lotsmanov
 */

$max-w = (1440px + (43px * 2))

.blog
	display block
	max-width $max-w
	margin 0 auto
	box-sizing border-box
	position relative

.blog .top-line
	@import 'blog/top-line'

.content-zone
	@import 'blog/content-zone'
