/**
 * General page styles
 *
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://github.com/web-izmerenie/wi-site/blob/master/LICENSE-AGPLv3|License}
 */

@import 'general/cards';
@import 'general/portfolio';

.portfolio
	display none

body.loaded
	.portfolio
		display block
