/**
 * General page styles
 *
 * @author Viacheslav Lotsmanov
 */

.general-cards
	@import 'general/cards'
.portfolio
	@import 'general/portfolio'
.team
	@import 'general/team'
.reviews
	@import 'general/reviews'
.contacts
	@import 'general/contacts'

footer
.portfolio
.team
.reviews
.contacts
	display none

body.loaded
	footer
	.portfolio
	.team
	.reviews
	.contacts
		display block

	.general-cards .card-n1 .content
		h1, h2, .next
			margin-bottom 0
			opacity 1
