/**
 * General page styles
 *
 * @author Viacheslav Lotsmanov
 */

general-header-n1()
	custom-font('Proxima Nova Rg', bold)

general-header-n2()
	custom-font('Proxima Nova Lt', normal)

@import 'general/cards'
@import 'general/portfolio'
@import 'general/team'

.portfolio
	display none

body.loaded
	.portfolio
		display block
