/**
 * ".col-right" block styles of blog page
 *
 * @author Viacheslav Lotsmanov
 */

&
	float right

	.fb-widget
		size 100% auto
		border 2px solid #e6eaeb
		box-sizing border-box
		padding 15px

		iframe
			size 100% 300px
