/**
 * ".col-right" block styles of blog page
 *
 * @author Viacheslav Lotsmanov
 */

&
	float right

.tags
	h3
		just-set-font('Proxima Nova Rg', bold)
		color black
		padding-bottom 8px

	ul
		reset-box-model()
		display block
		margin-left -2px

		>li
			$h = 27px
			$sprite = 'tag-sprite.svg'
			$sprite-w = 738px
			$lw = 11px
			$rw = 20px
			$r-sprite-shift = ($sprite-w - $rw)
			$sprite-inactive-top = 29px
			$sprite-active-top = 1px

			reset-box-model()
			display inline-block
			margin-top 10px
			margin-right 6px

			a
				display inline-block
				vertical-align top
				white-space nowrap
				height $h
				bg($sprite, (-($lw - 1px)) (-($sprite-inactive-top)) no-repeat)
				custom-font('Proxima Nova Lt', normal, 14px, ($h - 2px))
				padding-top 2px
				color black
				text-decoration none
				transition opacity $animation-speed $animation-curve
				margin-left $lw
				margin-right $rw
				box-sizing border-box

				&:hover
					opacity 0.5

				&:before, &:after
					pseudo('', inline-block)
					margin-top -2px
					vertical-align top
					overflow hidden

				&:before
					size $lw $h
					bg($sprite, 0 (-($sprite-inactive-top)) no-repeat)
					margin-left (-($lw))

				&:after
					size $rw $h
					bg($sprite, (-($r-sprite-shift)) (-($sprite-inactive-top)) no-repeat)
					margin-right (-($rw))

			&.special a
				background-position (-($lw - 1px)) (-($sprite-active-top))

				&:before
					background-position 0 (-($sprite-active-top))
				&:after
					background-position (-($r-sprite-shift)) (-($sprite-active-top))

.fb-widget
	size 100% auto
	border 2px solid #e6eaeb
	box-sizing border-box
	padding 15px
	margin-top 55px

	iframe
		size 100% 300px
