DEBUG: false

SERVER: # http-server
  PORT: 8017
  HOST: 127.0.0.1

TEMPLATES_PATH: ./templates
STATIC_PATH: ./static

LANG: ru

EMAIL:
  SERVICE: Yandex
  USER: _
  PASS: _

FORMS:
  FEEDBACK:
    TO: _ # email address
