doctype html
html(
	lang = lang
	class = htmlClass
	data-localization-path = staticUrl('localization.json')
)
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(charset=charset)
		title= local.pageTitle
		link(href=staticUrl("build.css") rel="stylesheet" type="text/css")
		script(src=staticUrl("build.js"))
	body
