/**
 * Mixins for preloading images
 *
 * @author Viacheslav Lotsmanov
 */

for $key, $value in $icons
	$src = $value.src
	.preload-icon-{$key}
		background-image url($src)

body > .preloaders
	display block
	size 1px
	absolute top -1px left -1px
	overflow hidden

	& > ins
		display block
		size 1px
		absolute top 0 left 0
		overflow hidden
